# dependencies
/node_modules

# production build
/dist
/build

# misc
.DS_Store

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
Desktop.ini

# test coverage
/coverage

# eslint cache
.eslintcache

# parcel-bundler cache
.cache

# Storybook build
out/

# Next.js
.next/

# Vercel
.vercel

# Netlify
.netlify

# lockfiles (keep only one depending on the package manager)
# Remove the ones you're not using!
# Keep only one: package-lock.json (npm) OR yarn.lock (Yarn) OR pnpm-lock.yaml (PNPM)
# Uncomment the one you're using and comment or delete the others

# For npm:
# (DO NOT IGNORE package-lock.json if using npm)
# package-lock.json

# For Yarn:
# yarn.lock

# For PNPM:
# pnpm-lock.yaml
