# dependencies
/node_modules

# production build
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
Desktop.ini

# Optional: test coverage
/coverage

# Optional: eslint cache
.eslintcache

# Optional: parcel-bundler cache
.cache

# Optional: Storybook build
out/

# Optional: next.js build output
.next/

# Optional: vercel
.vercel

# Optional: Netlify
.netlify

# Optional: npm
package-lock.json
yarn.lock
pnpm-lock.yaml
